tunnel: {{ CF_TUNNEL_ID }}
credentials-file: /etc/cloudflared/{{ CF_TUNNEL_ID }}.json

ingress:
  - hostname: {{ SITE_URL }}
    service: http://localhost:8000
  - hostname: www.{{ SITE_URL }}
    service: http://localhost:8000
  - hostname: grafana.{{ SITE_URL }}
    service: http://localhost:3000
  - hostname: prometheus.{{ SITE_URL }}
    service: http://localhost:9090
  - hostname: ssh.{{ SITE_URL }}
    service: ssh://localhost:22
  - service: http_status:404
