tunnel: {{ CF_TUNNEL_ID }}
credentials-file: /home/{{ ansible_user }}/.cloudflared/{{ CF_TUNNEL_ID }}.json

ingress:
  - hostname: {{ site_url }}
    service: http://localhost:8000
  - hostname: www.{{ site_url }}
    service: http://localhost:8000
  - hostname: grafana.{{ site_url }}
    service: http://localhost:3000
  - hostname: prometheus.{{ site_url }}
    service: http://localhost:9090
  - hostname: ssh.{{ site_url }}
    service: ssh://localhost:22
  - service: http_status:404
